{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
    <div class="container">
      <h1><b>Retirement</b></h1>
      <br>
      <ul type = "square">
        <li>It's prudent to begin saving for retirement early. Although it's tempting to wait to save, putting off investing for retirement can end up hurting you in the long run.</li>
        <br>
        <li>Is my retirement fund on track? We need to know a few things to help calculate this.</li>
        <br>
        <li>If you haven't started saving for retirement yet, we'll need to know a few things to help you estimate how on track you are for retirement.</li>
        <br>
        <li>Firstly, we need to know your age and the age you want to retire. Most retirement plans have interest that compounds regularly, and most people put money into their retirement funds monthly or yearly. The amount of time you have left to invest is important.</li>
        <br>
        <li>Secondly, we need to know how much you plan on contributing monthly to your retirement fund. You can only contribute $18,500 yearly to your 401(k), unless you're over 55, in which case you can contribute $24,500.</li>
        <br>
        <li>Finally, we need to know whether your employer matches your 401(k), and by how much. </li>
      </ul>
    </div>
    <div class="container">
    <br/><br/><br/>
        <form method="POST">
        <label for="current_age">Current age: </label>
        <input name="current_age">
        <br/>
        <label for="years_left">Years left to work: </label>
        <input name = "years_left">
        <br/>
        <label for="monthly_contribution">Amount added monthly: </label>
        <input name = "monthly_contribution">
        <br/>
        <label for="total"> Amount already invested: </label>
        <input name = "total">
        <br/>
        <label for="rate"> Rate of return (in %): </label>
        <input name = "rate">
    <input type="submit">
</form>
</div>
</div>
{% endblock %}
